body {
    margin: 0;
}
#post-selection {
    background-color: black;
    color: #005BBB;
    padding: 24px;
}
h3 {
    font-size: 24px;
}
#post-items-container h3 {
    margin: 6px;
    padding: 6px;
}
a {
    text-decoration: none;
    padding: 6px;
    color: #FFD500;
}